# Ignore .ipynb files from language stats
*.ipynb linguist-documentation

# You can also add other file types here, like:
# Ignore all files in node_modules directory
node_modules/** linguist-vendored
